<h2>Vehicles</h2>

<ul class="vehicles">
  <li *ngFor="let vehicle of vehicles">
    <a routerLink="/vehicles/{{ vehicle.id }}">
      <span class="badge">{{ vehicle.id.slice(0, 3) }}</span>
      <span class="name"> {{ vehicle.make }}</span>
    </a>
  </li>
</ul>

<div>
  <label for="vmake">Make : </label>
  <input id="vmake" #make> <br>

  <label for="vmodel">Model : </label>
  <input id="vmodel" #model> <br>

  <label for="vyear">Year : </label>
  <input id="vyear" #year><br>

  <button type="button" class="add-button" (click)="add(make.value, model.value, year.value)">
    Add Vehicle
  </button>
</div>
