<div *ngIf="vehicle"> <!-- if (selectedVehicle) { show div } -->
  <h2>{{ vehicle.make | uppercase }} Details</h2>

  <!-- shoddy way : div class="vehicleImage">
    <img src="assets/images/{{ vehicle.model }}.jpg">
  </div -->

  <div *ngIf="vehicle.imageUrl" class="vehicleImage">
    <img src="{{ vehicle.imageUrl }}">
  </div>

  <!-- div *ngIf="vehicle.imageUrl" class="vehicleImage">
    <img [src]="vehicle.imageUrl">
  </div -->

  <div><strong>ID:</strong> {{ vehicle.id }}</div>
  <div>
     <strong>Make:</strong> {{ vehicle.make }} 
  </div>
  <div>
    <label for="vehicle-model"><strong>Model:</strong> </label>
    <input id="vehicle-model" [(ngModel)]="vehicle.model"  placeholder="Model">
  </div>
  <div>
    <strong>Year :</strong> {{ vehicle.year }}
  </div>

  <button type="button" (click)="save()">Update</button>
  <button type="button" (click)="delete()">Delete</button>
  <button type="button" (click)="goBack()">Back</button>
</div>